{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react"
  ],
  "env": {
    "browser": true,
    "commonjs": true,
    "es6": true,
    "node": true
  },
  "rules": {
    "indent": "warn",
    "linebreak-style": ["error","unix"],
    // Disable `no-console` rule
    // "no-console": 0,
    "no-console": ["warn", { "allow": ["info", "error"] }],
    // Give a warning if identifiers contain underscores
    "no-underscore-dangle": 1,
    // Default to single quotes and raise an error if something else is used
    "quotes": [ 2, "single" ],
    "no-useless-constructor": 0,
    "no-unused-vars": 0,
    "react/jsx-uses-vars": 1,
    "react/display-name": 0,
    "react/prop-types": 0,
    "react/no-multi-comp": 0
  }
}
