
		<script type="text/javascript" src="manifest.js"></script>
		<script type="text/javascript" src="style.js"></script>
		<script type="text/javascript" src="frameworks.js"></script>
		<script type="text/javascript" src="app.js"></script>
	</body>
</html>
