<%- include('site-header') -%>
	<section id="root">
		<%- initialMarkup -%>
	</section>

	<script type="text/javascript">
		window.initialData = <%- JSON.stringify(initialData) -%>;
	</script>
	<%- include('site-footer') -%>
