<nav class="spelling" style="float:left; margin-right: 13px">
	<ul>
		<li><a href="/words/20161024" title="Skill: long i (CVCe) wh,ch,tch">Who Works Here?</a></li>
		<li><a href="/words/20161031" title="Skill: long a (CVCe) c /s/ and g /j/">The Farmer in the Hat</a></li>
		<li><a href="/words/20161107" title="Skill: long o (CVCe) contractions n't, 'm, 'll">The Big Circle</a></li>
		<li><a href="/words/20161121" title="Skill: long u (CVCe) Long e (CVCe)">Life in the Forest</a></li>
		<li><a href="/words/20161127" title="Skill: long e (e, ee) Syllables VCCV pattern">Honey Bees</a></li>
	</ul>
</nav>
